header {margin: 0;}

nav {margin: 0 0 1rem 0;}

.wrapper {padding: 1rem;}

aside {
   padding: 1rem;
}






@media only screen and (max-width: 64rem) { 

aside {  /* make full width on mobile, override 1rem padding on .wrapper */
	width: calc(100% + 2rem);
	position: relative;
	left: -1rem;
}
} /* close media query */





@media only screen and (min-width: 64rem) {

    .wrapper {
        max-width: 64rem;
        margin: 2rem auto;
        display: flex;
        padding: 1rem;
    }
    
    main {
        flex: 8;
        margin: 0 1rem 0 0;
    }
    
    aside {
        flex: 2;
        padding-top: 2.5rem;
        width: 100%;
	    position: relative;
	    left: 0;
    }
}  /* close media query */